# PyTorch Faster R-CNN detection robustness configuration
model:
  instantiation:
    model_path: "/wkm/secai/secai-common/tests/fasterrcnn/model.py"
    weight_path: "/wkm/secai/secai-common/tests/fasterrcnn/faterrcnn_dior.pt"
    model_name: "TorchvisionDetector"
    parameters:
      "num_classes": 20
      "network": "fasterrcnn"
      "pretrained": True
      "trainable_backbone_layers": 3
  estimator:
    framework: "pytorch"
    task: "detection"
    parameters:
      input_shape: [3, -1, -1]
      clip_values: [0, 1]
      device: "cuda"
      device_type: "gpu"
      batch_size: 1
evaluation:
  basic: ["map", "accuracy", "precision","per_class_ap"]
  robustness: []
  interpretability: []
  safety: []
  generalization:
    generalization_testing:            # 泛化能力测试
      metrics:                         # 泛化能力评估指标列表
      - gap_pairs
  fairness:
    metrics: ["performance_gap"]