# PyTorch Faster R-CNN detection robustness configuration
model:
  instantiation:
    model_path: "fasterrcnn_test/model_builtin.py"
    weight_path: ""  # ΪʹtorchvisionԤѵѵȨؿ·
    model_name: "fasterrcnn_resnet50_fpn"
    parameters:
      "num_classes": 20
      "network": "fasterrcnn"
      "pretrained": True
      "trainable_backbone_layers": 3
  estimator:
    framework: "pytorch"
    task: "detection"
    parameters:
      input_shape: [3, -1, -1]
      clip_values: [0, 1]
      device: "cuda"
      device_type: "gpu"
      batch_size: 1

evaluation:
  # basic: ["map", "accuracy", "precision"]
  interpretability:
    interpretability_testing:
      metrics:
        - grad_cam
